
@font-face {
    font-family: 'MyWebFont';
    src: url("https://fonts.google.com/specimen/Yanone+Kaffeesatz?subset=cyrillic");
    font-weight: normal;
    font-style: normal;
}

p{
  color: #FF00FF;
}
 h1{
   color: #800080;
 }
p{
  font-style: oblique;
font-size: 350;
}


