
@font-face {
    font-family: 'MyWebFont';
    src: url("https://fonts.google.com/specimen/Yanone+Kaffeesatz?subset=cyrillic");
    font-weight: normal;
    font-style: normal;
}

p{
    position: absolute;
  color: #FF00FF;
}
 h1{
     position: absolute;
   color: #800080;
 }
p{
  font-style: oblique;
font-size: 350;
}
a{
    position: absolute;
}

body {
  background: #ddd;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 16px;
  background: #fff;
  font-size: 32px;
}
